.container {
    position: relative;

    .hero {
        padding: 30px;
        display: grid;
        justify-content: center;
        align-items: center;
        min-height: 20vh;

        h1 {
            font-size: 3.5em;
            margin: 0 90px;
            text-align: center;
        }
    }

    .subNav {
        position: sticky;
        bottom: 0;
        top: 60px; // prevent covering main nav
        z-index: 5;

        background: white;
        border-bottom: 3.5px solid black;
        font-style: italic;

        & .container {
            max-height: 80px;
            align-items: center;
            display: flex;
            margin: 0 55px;
            gap: 7px;

            & .title {
                font-size: 1.25em;

                & * {
                    display: inline-block;
                    margin-right: 3px;
                }
            }

            img {
                max-width: 32px;
                max-height: 32px;
            }
        }
    }
}
